// colors
$primary-color: #f98821;
$secondary-color: #61bd12;
$text-color: #383f51;
$white-color: #f8f4e3;
$tertiary-color: #4b8f8c;

// font family
$body-font-family: "Roboto", sans-serif;
$title-font-family: "Oswald", sans-serif;

// fonts sizes
$font-base-size: 16px;
$font-title-size: 36px;
$font-big-size: 60px;

// import '@fontsource/roboto/400.css';
// import '@fontsource/oswald/500.css';
// import '@fontsource/oswald/700.css';
