@mixin onelifeButton {
  background: $tertiary-color;
  color: $white-color;
  border: none;
  &:hover {
    background: $tertiary-color;
    background: darken($color: $tertiary-color, $amount: 10);
    color: $white-color;
  }
}
