@import "./variables.module.scss";
@import "./mixins";
.text {
  color: $primary-color;
}
.bannerSection {
  background: linear-gradient(
      90deg,
      rgba(56, 63, 81, 0.8) 60%,
      rgba(75, 143, 140, 0.6) 70%
    ),
    url(../images/banner-bg.jpg) no-repeat center center;
  background-size: cover;
  padding: 200px 0;
  h1,
  p {
    color: $white-color;
    text-align: center;
  }
  a {
    @include onelifeButton;
    &:hover {
      color: $white-color;
    }
  }
}
.featureSection {
  .featureBox {
    background: lighten($color: $tertiary-color, $amount: 50);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: $transition;
    h4 {
      margin: 0;
    }
    svg {
      font-size: 60px !important;
      color: $primary-color;
    }
    &:hover {
      cursor: pointer;
      box-shadow: none !important;
    }
  }
}

// others banner
.OthersBanner {
  background: linear-gradient(
      90deg,
      rgba(56, 63, 81, 0.8) 60%,
      rgba(75, 143, 140, 0.6) 70%
    ),
    url(../images/others-banner.jpg) no-repeat center center;
  background-size: cover;
  padding: 100px 0;
  color: $white-color;
  text-align: center;
  a,
  span {
    color: $white-color !important;
    font-size: 20px;
  }
  svg {
    color: $secondary-color;
  }
}
